<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Master</title>
</head>
<body>
<h1>Game Master Tools</h1>
<h2>Ability Templates</h2>
<h3>Current Ability Templates</h3>
<ul>
    {% for ability_template in ability_templates %}
        <li>
            <p>Name: {{ ability_template.name }}</p>
            <p>Effected PlayerConditions:</p>
            <p>
                {% if ability_template.effected_conditions|length > 0 %}
                    {% for effected_condition in ability_template.effected_conditions.keys() %}
                        {{ effected_condition.value|capitalize }}: {{ ability_template.effected_conditions[effected_condition] }}
                    {% endfor %}
                {% else %}
                    None
                {% endif %}
            </p>
            <form action="{{ url_for('gamemaster.delete_ability_template') }}" method="post">
                <button type="submit" name="ability_name" value="{{ ability_template.name }}">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
<h3>Create New Ability Template</h3>
<form method="post" action="{{ url_for('gamemaster.add_ability_template') }}">
    <label for="ability_name">Ability name:</label>
    <input type="text" id="ability_name" name="ability_name" required>
    <br>
    <p>Effected conditions:</p>
    {% with slider_category="ability" %}
        {% include 'components/../components/condition-sliders.html' %}
    {% endwith %}
    <br>
    <button type="submit">Create Ability</button>
</form>
<h2>Item Templates</h2>
<h3>Current Item Templates</h3>
<h3>Create New Item Template</h3>
{% include 'components/../components/home-button.html' %}
</body>
{% include 'components/../components/websocket.html' %}
</html>