<!DOCTYPE html>
<html lang="en">
<head>
    <title>Player Select</title>
</head>
<body>
<h1>Player Select</h1>
<h2>Select your player</h2>
<form method="post">
    <ul>
        {% for player in players %}
            <li>
                <button type="submit" name="player_name" value="{{ player.name }}">{{ player.name }}</button>
            </li>
        {% endfor %}
    </ul>
</form>
<h2>Create a New Player</h2>
{% with name="new_player", label="New Player Name", text="Create Player" %}
    {% include "textbox-submit.html" %}
{% endwith %}
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script src="{{ url_for('static', filename='websocket.js') }}"></script>
</body>
</html>
